<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>RegistroUsuarioServlet</servlet-name>
    <servlet-class>com.airelibre.servlet.RegistroUsuarioServlet</servlet-class>
    <multipart-config>
      <location></location>
      <max-file-size>10000000</max-file-size>
      <max-request-size>12000000</max-request-size>
      <file-size-threshold>512000</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistroUsuarioServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>IniciarBase</servlet-name>
    <servlet-class>com.airelibre.servlet.IniciarBase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IniciarBase</servlet-name>
    <url-pattern>/IniciarBase</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Usuario</display-name>
    <servlet-name>Usuario</servlet-name>
    <servlet-class>com.airelibre.servlet.Usuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Usuario</servlet-name>
    <url-pattern>/Usuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListadoUsuarios</display-name>
    <servlet-name>ListadoUsuarios</servlet-name>
    <servlet-class>com.airelibre.servlet.ListadoUsuarios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListadoUsuarios</servlet-name>
    <url-pattern>/ListadoUsuarios</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CargarDatosListaUsuarios</display-name>
    <servlet-name>CargarDatosListaUsuarios</servlet-name>
    <servlet-class>com.airelibre.servlet.CargarDatosListaUsuarios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CargarDatosListaUsuarios</servlet-name>
    <url-pattern>/CargarDatosListaUsuarios</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckNickname</display-name>
    <servlet-name>CheckNickname</servlet-name>
    <servlet-class>com.airelibre.servlet.CheckNickname</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckNickname</servlet-name>
    <url-pattern>/CheckNickname</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CargarDatosUsuario</display-name>
    <servlet-name>CargarDatosUsuario</servlet-name>
    <servlet-class>com.airelibre.servlet.CargarDatosUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CargarDatosUsuario</servlet-name>
    <url-pattern>/CargarDatosUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.airelibre.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.airelibre.servlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarPerfil</display-name>
    <servlet-name>EditarPerfil</servlet-name>
    <servlet-class>com.airelibre.servlet.EditarPerfil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarPerfil</servlet-name>
    <url-pattern>/EditarPerfil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActualizarPerfil</display-name>
    <servlet-name>ActualizarPerfil</servlet-name>
    <servlet-class>com.airelibre.servlet.ActualizarPerfil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActualizarPerfil</servlet-name>
    <url-pattern>/ActualizarPerfil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AltaActividadDeportiva</display-name>
    <servlet-name>AltaActividadDeportiva</servlet-name>
    <servlet-class>com.airelibre.servlet.AltaActividadDeportiva</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AltaActividadDeportiva</servlet-name>
    <url-pattern>/AltaActividadDeportiva</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetEntrenadorStatus</display-name>
    <servlet-name>SetEntrenadorStatus</servlet-name>
    <servlet-class>com.airelibre.servlet.SetEntrenadorStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetEntrenadorStatus</servlet-name>
    <url-pattern>/SetEntrenadorStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExisteActividad</display-name>
    <servlet-name>ExisteActividad</servlet-name>
    <servlet-class>com.airelibre.servlet.ExisteActividad</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExisteActividad</servlet-name>
    <url-pattern>/ExisteActividad</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActividadesData</display-name>
    <servlet-name>ActividadesData</servlet-name>
    <servlet-class>com.airelibre.servlet.ActividadesData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActividadesData</servlet-name>
    <url-pattern>/ActividadesData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Actividades</display-name>
    <servlet-name>Actividades</servlet-name>
    <servlet-class>com.airelibre.servlet.Actividades</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Actividades</servlet-name>
    <url-pattern>/Actividades</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PerfilActividad</display-name>
    <servlet-name>PerfilActividad</servlet-name>
    <servlet-class>com.airelibre.servlet.PerfilActividad</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PerfilActividad</servlet-name>
    <url-pattern>/PerfilActividad</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Inscripcion</display-name>
    <servlet-name>Inscripcion</servlet-name>
    <servlet-class>com.airelibre.servlet.Inscripcion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inscripcion</servlet-name>
    <url-pattern>/Inscripcion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AltaClaseDeportiva</display-name>
    <servlet-name>AltaClaseDeportiva</servlet-name>
    <servlet-class>com.airelibre.servlet.AltaClaseDeportiva</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AltaClaseDeportiva</servlet-name>
    <url-pattern>/AltaClaseDeportiva</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActividadesEntrenador</display-name>
    <servlet-name>ActividadesEntrenador</servlet-name>
    <servlet-class>com.airelibre.servlet.ActividadesEntrenador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActividadesEntrenador</servlet-name>
    <url-pattern>/ActividadesEntrenador</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VerificarConflictoHorario</display-name>
    <servlet-name>VerificarConflictoHorario</servlet-name>
    <servlet-class>com.airelibre.servlet.VerificarConflictoHorario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerificarConflictoHorario</servlet-name>
    <url-pattern>/VerificarConflictoHorario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CargarPrimerasActividades</display-name>
    <servlet-name>CargarPrimerasActividades</servlet-name>
    <servlet-class>com.airelibre.servlet.CargarPrimerasActividades</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CargarPrimerasActividades</servlet-name>
    <url-pattern>/CargarPrimerasActividades</url-pattern>
  </servlet-mapping>
</web-app>