
/* Estilos generales */
body {
    font-family: Arial, sans-serif;
}

/* Estilos para el navbar */
.navbar {
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%; 
    position: fixed; 
    top: 0; 
    left: 0;
    z-index: 1000; 
}

#userProfile .dropdown-toggle::after {
    display: none;
}

#userProfile .btn-link {
    padding: 0;
    color: #000;
}

#userProfile .dropdown-menu {
    min-width: 120px;
}

#logoutButton:hover {
    background-color: #ffe6e6;
}


